fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
langchain
langchain-google-genai
langchain-groq
httpx
requests
python-dotenv
aiofiles
reportlab
alembic
